.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}







/* Container */
.app-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px 30px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(135deg, #ee8ce1, #82f4b4);
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(192, 177, 177, 0.1);
}

/* Headings */
h1 {
  text-align: center;
  /* Remove solid color */
  /* color: #1308a5; */

  margin-bottom: 25px;

  /* Gradient text styles */
  background: linear-gradient(135deg, #7b0505, #4ab8eb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* For Firefox */
  background-clip: text;
  color: transparent;
}

/* Form Styles */
form {
  display: flex;
  flex-direction: column;
}



